@import "tailwindcss";

/* Posición centrada */
.custom-snackbar-overlay {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  background-color: #f8f8f8 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  border-radius: 12px !important;
  padding: 16px 24px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  max-width: 80%;
  text-align: center;
}

/* Elimina fondo por defecto de Angular Material */
.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Toast contenedor */
.toast-container {
  width: 100%;
}

.fecha-completa .mat-calendar-body-cell-content {
  background-color: #ffdddd !important;
  border: 1px solid red;
  color: red !important;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  display: block;
}
