@import "tailwindcss";

/* Posición centrada */
.custom-snackbar-overlay {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Elimina fondo por defecto de Angular Material */
.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Toast contenedor */
.toast-container {
  width: 100%;
}

.fecha-completa .mat-calendar-body-cell-content {
  background-color: #ffdddd !important;
  border: 1px solid red;
  color: red !important;
}