/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.custom-snackbar-overlay {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: auto !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Elimina fondo negro de Angular Material */
.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Toast container personalizada */
.toast-container {
  width: 100%;
}