<div class="min-h-screen bg-gray-50 flex flex-col">
  <!-- Header -->
  <header class="bg-indigo-600 text-white py-4 shadow">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-2xl font-semibold">Compra de Entradas</h1>
    </div>
  </header>



  <!-- Layout de contenido + resumen -->>
   <main class="flex-grow container mx-auto px-4 py-8 flex flex-col md:flex-row gap-6">
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>

     <div class="w-full md:w-80" *ngIf="!esConfirmacion">
        <app-resumen-pedido></app-resumen-pedido>
     </div> 

  </main>
  
  <!-- Footer simple -->
  <footer class="bg-gray-100 text-center py-3 text-sm text-gray-600">
    © {{ currentYear }} Circo Escuela Fantasía
  </footer>
</div>
