<h2 class="text-2xl font-bold text-white mb-6 text-center">Login Administrador</h2>

<!-- Contenedor del formulario -->
<div class="relative z-10 w-full max-w-md p-8 bg-black/70 backdrop-blur-md rounded-2xl shadow-xl border border-white/10">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Campo de Usuario -->
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium text-white">Usuario:</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Usuario"
        class="w-full rounded-lg border border-white/20 bg-white/10 px-4 py-2 text-white placeholder:text-white/60 focus:outline-none focus:ring-2 focus:ring-indigo-400 mt-1"
      />
      <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="mt-1 text-red-400 text-sm">
        <small *ngIf="loginForm.controls['username'].hasError('required')">El campo de usuario es obligatorio.</small>
      </div>
    </div>

    <!-- Campo de Contraseña -->
    <div class="mb-4">
      <div class="flex items-center justify-between">
        <label for="password" class="block text-sm font-medium text-white">Contraseña:</label>
        <a
          routerLink="/landing"
          class="text-sm text-indigo-300 hover:text-white font-semibold"
        >
          ¿Problemas con la contraseña?
        </a>
      </div>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Contraseña"
        class="w-full rounded-lg border border-white/20 bg-white/10 px-4 py-2 text-white placeholder:text-white/60 focus:outline-none focus:ring-2 focus:ring-indigo-400 mt-1"
      />
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="mt-1 text-red-400 text-sm">
        <small *ngIf="loginForm.controls['password'].hasError('required')">La contraseña es obligatoria.</small>
      </div>
    </div>

    <!-- Botón de Envío -->
    <div>
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-full rounded-lg bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-2 transition-all duration-200 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white/40"
      >
        Inicia Sesión
      </button>
    </div>
  </form>
</div>